@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'orbitronBlack'; /* Название шрифта */
  src: url('/fonts/orbitron-black.otf') format('otf'); /* Путь к файлу */
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitronBold'; /* Название шрифта */
  src: url('/fonts/orbitron-bold.otf') format('otf'); /* Путь к файлу */
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitronLight'; /* Название шрифта */
  src: url('/fonts/orbitron-light.otf') format('otf'); /* Путь к файлу */
       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitronMedium'; /* Название шрифта */
  src: url('/fonts/orbitron-medium.otf') format('otf'); /* Путь к файлу */
       
  font-weight: normal;
  font-style: normal;
}

.animation-UpDown {
    animation: UpDown 3s ease-in-out infinite;
    transition: transform 5s ease;
}

.animation-UpDown::after {
    animation: DownUp 5s ease-in-out;
    transition: transform 5s ease;
}

@keyframes DownUp {
    0% {
        transform: translateY(-100vh);
        
    }

    100% {
        transform: translateY(0);
        
        
    }
}

@keyframes UpDown {
    0%, 100% {
        transform: translateY(0);
        
    }

    50% {
        transform: translateY(-30px);
        
        
    }
}

.ufoMove:hover{
    
    transform: translateY(-100vh);
    transition: transform 5s ease;
}
.inputField {
    filter: blur(10px);
}


.arc-top {
    clip-path: ellipse(50% 100% at 50% 100%);

}

.fieldOfValues {
    backdrop-filter: blur(10px);
}

.graphicLine {
    backdrop-filter: blur(10px);
}

.titleValue {
  letter-spacing: 0.1em;
}
.titlePrice {
  color: #57caf8;
}

.stars {
    
    background-image:
    
    radial-gradient(5px 5px at 20% 40%, white 100%, transparent 0),
    radial-gradient(1.5px 1.5px at 70% 80%, #bbb 100%, transparent 0),
    radial-gradient(4px 4px at 50% 60%, #888 100%, transparent 0),
    radial-gradient(3px 3px at 90% 20%, white 100%, transparent 0),
    radial-gradient(1.5px 1.5px at 30% 70%, #999 100%, transparent 0);
  background-repeat: repeat;
  animation: moveStars 100s linear infinite;
}

.stars-bg {
  /*background: linear-gradient(to right, #171538, #100D45, #413D80);*/
  
 
  background-image: linear-gradient(to right, #020207, #000000, #171274);
}

@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  
  100% {
    background-position: 1000px 1000px;
  }
}
/*
@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 1; }
}*/

.falling-star {
  position: fixed;
  top: -50px;
  width: 3px;
  height: 20px;
  background: linear-gradient(rgb(255, 255, 255), transparent);
  animation: fall 4s linear forwards;
  opacity: 0.8;
 
  pointer-events: none;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}

.react-financial-charts-axis line,
.react-financial-charts-axis path {
  stroke: #9ca3af;
}

.react-financial-charts-axis text {
  fill: #9ca3af;
  font-size: 11px;
}

.iconCharts {
  backdrop-filter: blur(10px);
  
  background-color: rgb(67, 113, 167, 0.5) ;

}

.yourChart {
  
}

.selectDays {
  font-family: 'orbitronBold';
  backdrop-filter: blur(10px);
}

/* Error404.tsx */


.spaceDudeImg {
  transition: transform 1s ease;
  transform: scale(1.5);
  filter: sepia(70%)  hue-rotate(10deg) saturate(150%) brightness(100%);
}

.error404-box {
  transform: rotateY(35deg) rotateX(40deg);
  transform-style: preserve-3d;
}

.error404text {

  font-size: 100px;
  font-family: 'orbitronBold';
  line-height: 0.5;
  
}

.numbers {
  
  display: flex;
  flex-direction: column;
  gap: 0;
  line-height: 0.2;
}

.four {
  transform: rotateY(35deg) rotateX(40deg);
  transform-style: preserve-3d;
}



.zero {
  transform: rotateY(35deg) rotateX(40deg);
  transform-style: preserve-3d;
}




/* Error404.tsx */